{% extends 'mailing_service/base.html' %}
{% block content%}
<style>
    html, body { height: 100%; margin: 0; padding: 0; }
</style>
<div class="card" style="border-radius: 10px; overflow: hidden; min-height: 100vh; margin-bottom: 0;">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
        <div class="container-fluid"><a class="navbar-brand">Главная</a></div>
    </nav>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark flex-grow-1 d-flex flex-column" aria-label="Third navbar example">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Общее количество всех созданных рассылок: {{all_count}}</li>
                                <li class="list-group-item">Количество активных рассылок: {{active_count}}</li>
                                <li class="list-group-item">Количество уникальных получателей:
                                    {{unique_recipients_count}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
{% endblock %}