{% extends 'mailing_service/base.html' %}
{% block content%}


<div class="container-fluid" style="min-height: 100vh; background-color: black;">
    <div class="row text-center">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        Рассылка
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ object.message }}</li>
                        <li class="list-group-item">{{ object.start_time }}</li>
                        <li class="list-group-item">{{ object.end_time }}</li>
                        <li class="list-group-item">{{ object.get_status_display }}</li>
                        <li class="list-group-item" style="min-height: 200px">{{ object.recipients }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-3 mx-auto">
            <a href="{% url 'mailing_service:mailing_list' %}" class="btn btn-outline-secondary">Вернуться к рассылкам</a>
            <a href="{% url 'mailing_service:mailing_update' mailing.pk %}" class="btn btn-light">Редактировать</a>
            <a href="{% url 'mailing_service:mailing_delete' mailing.pk %}" class="btn btn-light">Удалить</a>

        </div>
    </div>
</div>
{% endblock %}