{% extends 'mailing_service/base.html' %}
{% block content%}


<div class="container-fluid" style="min-height: 100vh; background-color: black;">
    <div class="row text-center">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        Рассылка
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ object.message }}</li>
                        <li class="list-group-item">{{ object.start_time }}</li>
                        <li class="list-group-item">{{ object.end_time }}</li>
                        <li class="list-group-item">{{ object.get_status_display }}</li>
                        <li class="list-group-item">Получатели:
                            {% for recipient in object.recipients.all %}
                            <div class="list-group-item">
                                {{ recipient.name }} ({{ recipient.email }})
                            </div>
                            {% endfor %}
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-3 mx-auto">
            <a href="{% url 'mailing_service:mailing_list' %}" class="btn btn-outline-secondary">Вернуться к
                рассылкам</a>
            {% if not perms.mailing_service.can_deactivate_mailing %}
            <a href="{% url 'mailing_service:mailing_update' mailing.pk %}" class="btn btn-outline-secondary">Редактировать</a>
            <a href="{% url 'mailing_service:mailing_delete' mailing.pk %}"
               class="btn btn-outline-secondary">Удалить</a>
            <form method="post" style="display: inline-block;" action="{% url 'mailing_service:send' object.pk %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-light">Отправить</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}