{% extends 'mailing_service/base.html' %}
{% block content%}


<div class="container-fluid" style="min-height: 100vh; background-color: black;">
    <div class="row text-center">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        Получатель
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ object.name }}</li>
                        <li class="list-group-item">{{ object.email }}</li>
                        <li class="list-group-item" style="min-height: 200px">{{ object.comment }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-3 mx-auto">
            <a href="{% url 'mailing_service:recipient_list' %}" class="btn btn-outline-secondary">Вернуться к списку получателей</a>
            {% if object.owner == request.user %}
            <a href="{% url 'mailing_service:recipient_update' recipient.pk %}" class="btn btn-light">Редактировать</a>
            <a href="{% url 'mailing_service:recipient_delete' recipient.pk %}" class="btn btn-light">Удалить</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}