{% extends 'mailing_service/base.html' %}
{% block content%}


<div class="container-fluid" style="min-height: 100vh; background-color: black;">
    <div class="row text-center">
        <div class="row">
            <div class="col mx-auto mt-5">
                <h2 style="color: white;">Вы действительно хотите удалить получателя "{{object.name}}"?</h2>
                <h4 style="color: white;">(электронный адрес: {{object.email}})</h4>
            </div>
        </div>
        <form method="post">
            <div class="col mt-5 mx-auto">
                {% csrf_token %}
                <button type="submit" class="btn btn-light">Удалить</button>
                <a href="{% url 'mailing_service:recipient_list' %}" class="btn btn-outline-secondary">Отмена</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
