{% extends 'mailing_service/base.html' %}
{% block content%}


<div class="container-fluid" style="min-height: 100vh; background-color: black;">
    <div class="row text-center">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        Восстановление пароля
                    </div>
                    <div class="card-body">Введите новый пароль
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label class="form-label">Новый пароль</label>
                                {{ form.new_password1 }}
                                <div class="text-danger">{{ form.new_password1.errors }}</div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Повторите пароль</label>
                                {{ form.new_password2 }}
                                <div class="text-danger">{{ form.new_password2.errors }}</div>
                            </div>
                            <button type="submit" class="btn btn-light">Отправить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

