{% extends 'mailing_service/base.html' %}
{% block content%}


<div class="container-fluid" style="min-height: 100vh; background-color: black;">
    <div class="row text-center">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        Восстановление пароля
                    </div>
                    <div class="card-body">
                        Пароль успешно изменён. Теперь можете войти на сайт</div>
                    <div>
                        <a href="{% url 'users:login' %}" class="btn btn-dark my-3 text-decoration-none">Войти</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}